.bg {
    background-image: url(/Proyecto/img/img_registro.jpg);
    background-position: center center;
    background-size: cover;
}

body {
    background: linear-gradient(to right, #4dc5ce, #3d6bcf);
}



/* clases personalidadas  */

.container-input .bi-x-circle-fill{
    color: #DF4840;
}

.container-input .bi-check-circle-fill{
    color: #2fb341;
}

.has-error .form-control {
    background-color: rgba(223, 72, 64, 0.1);
    border-color: #DF4840;
    box-shadow: none;
}

.has-success .form-control:focus {
    background-color: rgba(75, 113, 238, 0.1);
    border-color: #426bdd;
    box-shadow: none;
}



/* Clases personalizadas hoy  */

.form-label{
    cursor: pointer;
    font-weight: 500;
}


/* Styles input  */

.form_grupo_input {
    position: relative;
}

.form-control{
    height: 48px;
    padding: 6px 42px 6px 12px;
    transition: 0.3s ease all;
}

/* styles mensaje de error */
.input-error {
    display: none;
    font-size: 0.9rem;
    margin-bottom: 0;
    color: #DF4840;
}

.input-error-activo{
    display: block;
}


/* styles icono  */
.icon-validacion {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    opacity: 0;
}

.bi {
    font-size: 1.2rem;
}

/* stylos para validacion  */

.form_grupo_correcto .icon-validacion {
    color: #2fb341;
    opacity: 1;
}

.form_grupo_correcto .form-control:focus {
    background-color: rgba(75, 113, 238, 0.1);
    border-color: #426bdd;
    box-shadow: none;
} 



.form_grupo_incorrecto .form-label {
    color: #DF4840;
}

.form_grupo_incorrecto .form-control {
    border: #DF4840;
    background-color: rgba(223, 72, 64, 0.1);
    border-color: #DF4840;
    box-shadow: none;
}

.form_grupo_incorrecto .form-control:focus {
    border: #DF4840;
    background-color: rgba(223, 72, 64, 0.1);
    border-color: #DF4840;
    box-shadow: none;
}

.form_grupo_incorrecto .icon-validacion {
    color: #DF4840;
    opacity: 1;
}

.form_grupo_incorrecto .input-error {
    display: block;
}

.input-error-checked {
    display: none;
    font-size: 0.9rem;
    margin-bottom: 0;
    color: #DF4840;

}

.input-error-checked-activo{
    display: block;
}

.form-grupo-checke-incorrecto {
    background-color: rgba(223, 72, 64, 0.1);
    border: 1px solid #DF4840;
    padding: 10px;
    border-radius: 10px;
}

.form-select {
    height: 48px;
    transition: 0.3s ease all;
}

.form-grupo-genero .form-label {
    color: #DF4840;
}

.form-grupo-genero .form-select {
    border: #DF4840;
    background-color: rgba(223, 72, 64, 0.1);
    border: 1px solid #DF4840;
    box-shadow: none;
}

.form-grupo-genero .form-select:focus {
    border: #DF4840;
    background-color: rgba(223, 72, 64, 0.1);
    border-color: #DF4840;
    box-shadow: none;
}

.form-grupo-genero .input-error{
    display: block;
}

.form_grupo_genero_correcto .form-select:focus {
    background-color: rgba(75, 113, 238, 0.1);
    border-color: #426bdd;
    box-shadow: none;
} 
/* quitar fechas de etiqueta input type=numer  */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
